
# IDE 
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.parquet

# Logs
*.log

# Result files
results/

# Backup files
*~
*.backup

# OS files
.DS_Store