
# IDE 
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.parquet

# But include the cleaned 2024 dataset (tracked via Git LFS)
!data/cleaned/flights_2024.parquet

# Logs
*.log
.DS_Store

# Result files
results/

# Backup files
*~
*.backup